@use 'fonts';
@use 'normalize';
@use  'libs';
@use  'global';


/* DEMO!!!! */
@use 'demo';

.page__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--vh);
}
/* DEMO!!! */